// Background Colors
$navUtent_theme: #0088cc;
$main_theme: rgb(30 45 59);
$footer_theme: #1c2033;
$logo_footer_theme: #212529;

$brand_theme: rgb(0 136 204);
$paddin_dark_theme: #212529;
$grey_theme: #f7f7f7;

$almost_black: rgb(28, 28, 28);
$dark_grey: #bfbfbf;
$white_theme: rgb(255 255 255);
